In [1]:
import pandas as pd
import pyodbc

In [2]:
server = 'PT011LT\SQLEXPRESS'
database = 'Salaries'


conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
conn = pyodbc.connect(conn_str)

sql_query = 'SELECT * FROM Salaries'

sal = pd.read_sql(sql_query, conn)
sal.head()










#sal = pd.read_csv('Salaries.csv')

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Cannot open database "Salaries" requested by the login. The login failed. (4060) (SQLDriverConnect); [42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Cannot open database "Salaries" requested by the login. The login failed. (4060)')

In [ ]:
sal.head()

In [ ]:
sal.info()

In [ ]:
sal['BasePay'].mean()

In [ ]:
sal['OvertimePay'].max()

In [ ]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

In [ ]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

In [ ]:
idx = sal['TotalPayBenefits'].idxmax() 
sal[sal['Id']==idx+1]['EmployeeName']

In [ ]:
idx = sal['TotalPayBenefits'].idxmin() 
sal[sal['Id']==idx+1]['EmployeeName']

In [ ]:
year = sal.groupby('Year')
year['BasePay'].mean()

In [ ]:
len(sal['JobTitle'].unique())
sal['JobTitle'].nunique()

In [ ]:
job = sal.groupby('JobTitle')
job.count().nlargest(5, 'Id')

In [ ]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

In [ ]:
sal['title_len'] = sal['JobTitle'].apply(len)
sal[['TotalPayBenefits','title_len']].corr()