In [1]:
import pandas as pd
import pyodbc

In [2]:
server = 'PT011LT\SQLEXPRESS'
database = 'Ecommerce_Purchases'


conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
conn = pyodbc.connect(conn_str)

sql_query = 'SELECT * FROM Ecommerce_Purchases'

data = pd.read_sql(sql_query, conn)
data.head()











#data = pd.read_csv('Ecommerce Purchases')

C:\Users\Sandeep.Mailarkar\AppData\Local\Temp\ipykernel_8304\3715824203.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql_query, conn)

,ReleaseCommitDate,column2,column3,column4,column5,column6,column7,column8,column9
0,2017-10-07 17:00:00.0000000,None,None,None,None,None,None,None,None
1,2017-11-02 17:00:00.0000000,None,None,None,None,None,None,None,None
2,2018-03-01 17:00:00.0000000,None,None,None,None,None,None,None,None
3,2018-02-26 17:00:00.0000000,None,None,None,None,None,None,None,None

In [3]:
data

,ReleaseCommitDate,column2,column3,column4,column5,column6,column7,column8,column9
0,2017-10-07 17:00:00.0000000,None,None,None,None,None,None,None,None
1,2017-11-02 17:00:00.0000000,None,None,None,None,None,None,None,None
2,2018-03-01 17:00:00.0000000,None,None,None,None,None,None,None,None
3,2018-02-26 17:00:00.0000000,None,None,None,None,None,None,None,None

In [4]:
data.head(10)

,ReleaseCommitDate,column2,column3,column4,column5,column6,column7,column8,column9
0,2017-10-07 17:00:00.0000000,None,None,None,None,None,None,None,None
1,2017-11-02 17:00:00.0000000,None,None,None,None,None,None,None,None
2,2018-03-01 17:00:00.0000000,None,None,None,None,None,None,None,None
3,2018-02-26 17:00:00.0000000,None,None,None,None,None,None,None,None

In [5]:
data.tail(10)

,ReleaseCommitDate,column2,column3,column4,column5,column6,column7,column8,column9
0,2017-10-07 17:00:00.0000000,None,None,None,None,None,None,None,None
1,2017-11-02 17:00:00.0000000,None,None,None,None,None,None,None,None
2,2018-03-01 17:00:00.0000000,None,None,None,None,None,None,None,None
3,2018-02-26 17:00:00.0000000,None,None,None,None,None,None,None,None

In [6]:
data.dtypes

ReleaseCommitDate    object
column2              object
column3              object
column4              object
column5              object
column6              object
column7              object
column8              object
column9              object
dtype: object

In [7]:
data.isnull()

,ReleaseCommitDate,column2,column3,column4,column5,column6,column7,column8,column9
0,False,True,True,True,True,True,True,True,True
1,False,True,True,True,True,True,True,True,True
2,False,True,True,True,True,True,True,True,True
3,False,True,True,True,True,True,True,True,True

In [8]:
len(data.columns)

9

In [9]:
len(data)

4

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ReleaseCommitDate  4 non-null      object
 1   column2            0 non-null      object
 2   column3            0 non-null      object
 3   column4            0 non-null      object
 4   column5            0 non-null      object
 5   column6            0 non-null      object
 6   column7            0 non-null      object
 7   column8            0 non-null      object
 8   column9            0 non-null      object
dtypes: object(9)
memory usage: 420.0+ bytes

In [11]:
data.columns

Index(['ReleaseCommitDate', 'column2', 'column3', 'column4', 'column5',
       'column6', 'column7', 'column8', 'column9'],
      dtype='object')

In [12]:
data['Purchase_Price'].max()

KeyError: 'Purchase_Price'

In [ ]:
data['Purchase_Price'].min()

In [ ]:
data['Purchase_Price'].mean()

In [ ]:
len(data[data['Language']=='fr'])

In [ ]:
data[data['Language']=='fr'].count()

In [ ]:
data[data['Job'].str.contains('engineer', case=False)]

In [ ]:
(data['CC_Provider']=='Mastercard')

In [ ]:
data['AM_or_PM'].value_counts()

In [ ]:
data['CC_Exp_Date']